src/stepFunctions/contratarServicioWifi.asl.json
{
    "Comment": "State Machine para contratar servicio de Wifi",
    "StartAt": "Obtener Planes",
    "States": {
        "Obtener Planes": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": {
                    "Fn::GetAtt": [
                        "obtenerPlanes",
                        "Arn"
                    ]
                },
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "Elegir planes",
            "Catch": [
                {
                    "ErrorEquals": [
                        "Error"
                    ],
                    "Next": "Lambda Error"
                }
            ]
        },
        "Elegir planes": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "TimeoutSeconds": 300,
            "Parameters": {
                "FunctionName": {
                    "Fn::GetAtt": [
                        "elegirPlanes",
                        "Arn"
                    ]
                },
                "Payload": {
                    "Input.$": "$",
                    "token.$": "$$.Task.Token"
                }
            },
            "Next": "Medios de Pago",
            "Catch": [
                {
                    "ErrorEquals": [
                        "Error"
                    ],
                    "Next": "Lambda Error"
                }
            ]
        },
        "Medios de Pago": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.medioDePago",
                    "StringEquals": "Debito",
                    "Next": "Pago Debito"
                }
            ],
            "Default": "Pago Credito"
        },
        "Pago Debito": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": {
                    "Fn::GetAtt": [
                        "pagoDebito",
                        "Arn"
                    ]
                },
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "Respuesta SQS",
            "Catch": [
                {
                    "ErrorEquals": [
                        "Error"
                    ],
                    "Next": "Lambda Error"
                }
            ]
        },
        "Pago Credito": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": {
                    "Fn::GetAtt": [
                        "pagoCredito",
                        "Arn"
                    ]
                },
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "Respuesta SQS",
            "Catch": [
                {
                    "ErrorEquals": [
                        "Error"
                    ],
                    "Next": "Lambda Error"
                }
            ]
        },
        "Lambda Error": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": {
                    "Fn::GetAtt": [
                        "formatError",
                        "Arn"
                    ]
                },
                "Payload": {
                    "Input.$": "$"
                }
            },
            "Next": "Respuesta SQS"
        },
        "Respuesta SQS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sqs:sendMessage",
            "Parameters": {
                "MessageBody.$": "$.Payload",
                "QueueUrl": "${cf:contratarwifiplan-${opt:stage, 'dev'}.SendQueueURL}"
            },
            "End": true
        }
    }
}